

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.analogClock {
  border: 1px solid transparent;
	border-top-color: transparent;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: transparent;
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.react-clock__face {
  background-color: rgba(255, 255, 255, 0);
}

.react-clock__hand {
  background-color: rgba(255, 255, 255, 1);
}

.react-clock__hand__body {
  background-color: rgba(255, 255, 255, 1);
}

.react-clock__hour-hand__body {
  background-color: rgba(255, 255, 255, 1);
}

.react-clock__hand__body .react-clock__minute-hand__body {
  background-color: rgba(255, 255, 255, 1);
}

.react-clock {
  display: block;
  position: relative;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
}
.react-clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__hand__body {
  position: absolute;
  border: 4px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(-50%);
}
.react-clock__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__mark__body {
  position: absolute;
  background-color: white;
  transform: translateX(-50%);
}
.react-clock__mark__number {
  position: absolute;
  left: -40px;
  width: 80px;
  text-align: center;
}
.react-clock__second-hand__body {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.recharts-text {
  font-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.recharts-cartesian-axis-tick-value {
  font-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
